@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply relative bg-white;
}

main {
	@apply relative text-dark flex min-h-screen flex-col items-center justify-between overflow-x-clip
	md:mx-10;
}

.mobileBG {
	@apply z-[-9999] absolute top-[-150px] left-[150px] scale-150 
	md:hidden;
}

.tabletBG {
	@apply z-[-9998] absolute hidden 
	md:block 
	xl:hidden;
}

.desktopBG {
	@apply z-[-9997] absolute hidden 
	xl:block;
}

/* HEADER */

header {
	@apply px-6 pt-10 
	md:px-10 md:pt-14;
}

.bgPattern1 {
	@apply absolute top-[-32px] right-[-45px] hidden 
	md:block w-[266px] h-[400px];
}

/* MAIN TEXT SECTION */

.main-text-section {
	@apply mt-16 mx-6 
	md:mt-[5.9375rem] md:mr-[169px];
}

.main-text-title {
	@apply text-[2.5rem] font-bold
	md:text-[4rem] md:leading-none;
}

.main-text-content {
	@apply text-[1rem] mt-5 leading-relaxed font-normal
	md:text-[1.10rem] md:mt-7;
}

/* MIDDLE CONTAINER */
.middle-container {
	@apply relative pb-[14.25rem] rounded-xl bg-dark min-h-full min-w-full flex flex-col items-center justify-center mt-[13rem] mb-[24.375rem] 
	md:rounded-xl md:mb-[12rem];
}

.bgPattern2 {
	@apply w-[280px] h-[420px] md:relative md:left-[25px];
}

.phoneIMG {
	@apply absolute top-[-7rem] w-[208px] h-[430px]
	md:left-16 md:w-[265px] md:h-[550px];
}

.middle-content-container {
	@apply absolute top-[380px] rounded-xl bg-orange text-left text-white px-9 pt-12 
	md:w-[399px] md:top-[175px] md:left-[239px];
}

.middle-content-title {
	@apply text-[2.5rem] font-bold mb-3;
}

.middle-content-paragraph {
	@apply text-[1.125rem];
}

.middle-cost-container {
	@apply flex flex-row items-center gap-4;
}

.middle-content-monthly {
	@apply text-[1.25rem] font-normal;
}

.middle-content-cost {
	@apply text-[4rem] font-bold;
}

.btn-grp {
	@apply flex flex-col mb-12;
}

.btn {
	@apply py-4 mt-8 text-[1.125rem] font-bold flex flex-row justify-center items-center gap-2 rounded-xl;
}

.btn-1 {
	@apply bg-dark text-white hover:bg-teal;
}

.btn-2 {
	@apply bg-white text-dark hover:bg-yellow;
}

/* FOOTER */

footer {
	@apply mx-6;
}

.footer-content {
	@apply mt-8 text-[1rem] mb-[4rem] leading-relaxed;
}

.social-icons {
	@apply flex flex-row gap-4 mb-20;
}

.fb {
	@apply hover:fill-orange;
}

.insta {
	@apply hover:fill-orange;
}

.twitter {
	@apply hover:fill-orange;
}
